.cta {
    background-color: #09090b;
    position: relative;
    overflow: hidden;
}
.cta::before {
    content: "";

    background-image: url('/public/assets/footer-background.png');
    background-size: cover;
    background-position: center;

    position: absolute;
    top: -142px;

    height: 100%;
    width: 100%;

    z-index: 9;
}

.banner::after {
    content: "";

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: radial-gradient(73.1% 73.1% at 52.6% 25.14%, rgba(2, 2, 3, 0) 0%, #020203 71.1%);
    mix-blend-mode: multiply;
    opacity: 0.5;
}