@tailwind base;
@tailwind components;
@tailwind utilities;

/* Acrescido pelo Alpine.js dinamicamente */
.text-\[\#00AEFF\] {
    --tw-text-opacity: 1;
    color: rgb(0 174 255 / var(--tw-text-opacity));
}

[x-cloak] {
    display: none !important;
}

.cta {
    background-color: #09090b;
    position: relative;
    overflow: hidden;
}
.cta::before {
    content: "";

    background-attachment: fixed;
    background-image: url('/assets/footer-background.png');
    background-position: center;
    background-size: cover;

    position: absolute;
    margin-top: 142px;
    top: -142px;

    height: 100%;
    width: 100%;

    z-index: 9;
}

.banner {
    position: relative;
    overflow: hidden;
}
.banner::after {
    content: "";

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: radial-gradient(73.1% 73.1% at 52.6% 25.14%, rgba(2, 2, 3, 0) 0%, #020203 71.1%);
    background-attachment: fixed;
    mix-blend-mode: multiply;
    opacity: 0.5;
}

.exclusives-list .exclusive-game-banner {
    position: relative;
    overflow: hidden;
}
.exclusives-list .exclusive-game-banner::after {
    content: "";

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background: linear-gradient(182.71deg, #020203 2.26%, rgba(2, 2, 3, 0) 73.74%);
    transform: rotate(-180deg);
    /* mix-blend-mode: multiply; */
    opacity: 0.4;
}
.exclusives-list .exclusive-game-logo {
    z-index: 2;
}

#modals #modalLogin {
    background-image: url('/img/modal-bg.png');
    background-size: cover;
    background-position: center;
}