.cta {
    background-color: #09090b;
    position: relative;
    overflow: hidden;
}
.cta::before {
    content: "";

    background-image: url('/public/assets/footer-background.png');
    background-size: cover;
    background-position: center;

    position: absolute;
    top: -142px;

    height: 100%;
    width: 100%;

    z-index: 9;
}